title: Decentralized Namespace
description: GitHub Documentation

url: "https://ns.did.ai"

defaults:
  - scope:
      path: "did/**/*.*"
    values:
      sitemap: true

# If you want to link only specific pages in your header, uncomment
# this and add the path to the pages in order as they should show up
#header_pages:
# - about.md

# Build settings
theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
