<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>

    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% seo %}
    <script
      src="https://www.w3.org/Tools/respec/respec-w3c"
      class="remove"
    ></script>
    <script type="text/javascript" class="remove">
      var respecConfig = {
        // specification status (e.g. WD, LCWD, NOTE, etc.). If in doubt use ED.
        specStatus: "{{ page.specStatus }}",

        // the specification's short name, as in http://www.w3.org/TR/short-name/
        shortName: "{{ page.shortName }}",

        // if you wish the publication date to be other than today, set this
        // publishDate:  "2009-08-06",

        // if there is a previously published draft, uncomment this and set its YYYY-MM-DD date
        // and its maturity status
        // previousPublishDate:  "1977-03-15",
        // previousMaturity:  "WD",

        // if there a publicly available Editor's Draft, this is the link
        edDraftURI: "{{ page.edDraftURI }}",

        // if this is a LCWD, uncomment and set the end of its review period
        // lcEnd: "2009-08-05",

        // if you want to have extra CSS, append them to this list
        // it is recommended that the respec.css stylesheet be kept
        //extraCSS:             ["spec.css", "prettify.css"],

        // editors, add as many as you like
        // only "name" is required
        editors: JSON.parse(`
        {{ page.editors }}
        `),
    

        // extend the bibliography entries
        //localBiblio: webpayments.localBiblio,

        wg: JSON.parse(`
        {{ page.workingGroup }}
        `).name,
        // URI of the public WG page
        wgURI: JSON.parse(`
        {{ page.workingGroup }}
        `).url,
        // name (with the @w3c.org) of the public mailing to which comments are due
        wgPublicList: JSON.parse(`
        {{ page.workingGroup }}
        `).list,
        // URI of the patent status for this WG, for Rec-track documents
        // !!!! IMPORTANT !!!!
        // This is important for Rec-track documents, do not copy a patent URI from a random
        // document unless you know what you're doing. If in doubt ask your friendly neighbourhood
        // Team Contact.
        wgPatentURI: JSON.parse(`
        {{ page.workingGroup }}
        `).patentUri,

        otherLinks: [
          {
            key: "Source Control",
            data: [
              {
                value: "{{ page.repository }}",
                href: "{{ page.repository }}",
              },
            ],
          },
          {
            key: "Issue Tracker",
            data: [
              {
                value: "{{ page.issueTracker }}",
                href: "{{ page.issueTracker }}",
              },
            ],
          },
        ],

        // URI of the patent status for this WG, for Rec-track documents
        // !!!! IMPORTANT !!!!
        // This is important for Rec-track documents, do not copy a patent URI from a random
        // document unless you know what you're doing. If in doubt ask your friendly neighbourhood
        // Team Contact.
        // wgPatentURI:  "",
        maxTocLevel: 4,
        /*preProcess: [ webpayments.preProcess ],
        alternateFormats: [ {uri: "diff-20111214.html", label: "diff to previous version"} ],
        */
        localBiblio: JSON.parse(`
        {{ page.bibliography }}
        `),
      };
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
